ion-content{
    --ion-background-color: #222F52;
}


.header1 {
    padding-top: 0.5ch;
    text-align: center;

}

.taxi {
    border-radius: 5px;
}

.cardInicio {
    background-color: #EFC438;
}