<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button (click)="mostrarMenu()">
        <ion-icon slot="icon-only" name="menu-outline" color="primary"></ion-icon>
      </ion-button>
    </ion-buttons>
    
    <ion-title>TeLlevo</ion-title> 
    <ion-list-header>
      <ion-label></ion-label>
      <ion-button (click)="input()" class="button button-small">inicio</ion-button>
      <ion-button class="button button-small" >Logout</ion-button>
    </ion-list-header>
    
  </ion-toolbar>
</ion-header>

<ion-content class="body">

  <h1 class="header1">Organizate con tus compañeros y ten un viaje seguro!</h1>
  <ion-card class="cardInicio">
    <img src="assets/taxi.jpg" class="ion-padding">
    <ion-card-content>
      
      Usuario, por favor recuerda; No botes basura en el automovil y siempre lleva tu mascarilla.
    </ion-card-content>
  </ion-card>


  
  
  <!--
  <ion-button routerLink="/alert">
    Alert
  </ion-button>

  <ion-button routerLink="/action-sheet">
    Action Sheet
  </ion-button>-->

</ion-content>
